.worker-text-field {
    width: 100%;
}
.worker-textlong-field {
    width: 100%;
    height: 150px;
}
.wrong-input {
    color: #F00;
    font-weight: bold;
    font-size: 11px;
}

/* FILE */
.file-icon {
    padding: 5px 0 0 26px;
    background: url(../img/file.png) no-repeat;
}
.file-txt {
    background: url(../img/filetxt.png) no-repeat;
}
.file-ai {
    background: url(../img/fileai.png) no-repeat;
}
.file-doc {
    background: url(../img/filedoc.png) no-repeat;
}
.file-dwt {
    background: url(../img/filedwt.png) no-repeat;
}
.file-exe {
    background: url(../img/fileexe.png) no-repeat;
}
.file-indd {
    background: url(../img/fileindd.png) no-repeat;
}
.file-mov {
    background: url(../img/filemov.png) no-repeat;
}
.file-mp3 {
    background: url(../img/filemp3.png) no-repeat;
}
.file-pdf {
    background: url(../img/filepdf.png) no-repeat;
}
.file-psd {
    background: url(../img/filepsd.png) no-repeat;
}
.file-swf {
    background: url(../img/fileswf.png) no-repeat;
}
.file-wma {
    background: url(../img/filewma.png) no-repeat;
}
.file-xls {
    background: url(../img/filexls.png) no-repeat;
}
.file-zip {
    background: url(../img/filezip.png) no-repeat;
}
.file-rar {
    background: url(../img/filerar.png) no-repeat;
}

/* FILES */
#filesInputHolder {

}
#filesInputHolder .filesInputHolderItem .remove {
    display: none;
}