RewriteEngine On

#RewriteBase /

RewriteRule ^(_docs) - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin(.*)?$ fabrico.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]