<div class="row command-manage-form command-manage-form-{formId}">
    <div class="span9">
        <form id="{formId}">
            <input type="hidden" name="formId" value="{formId}" />
            <input type="hidden" name="unit" value="{unit}" />
            <input type="hidden" name="file" value="{file}" />
            <textarea class="command-manage-form-textarea" name="json">{json}</textarea>
        </form>
    </div>
    <div class="span2 command-manage-buttons">        
        <a href="javascript:operations.manage.save('{formId}')" class="btn btn-primary">Save</a>
        <a href="javascript:fconsole.sendCommand('clear')" class="btn">Cancel</a>
        <div class="manage-templates">
            <strong>Templates</strong>
            <div class="manage-templates-list" id="templates-{uid}"></div>
        </div>
    </div>
</div>
<div class="modal" id="template-modal-{uid}">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 id="template-modal-textarea-{uid}-title"></h3>
    </div>
    <div class="modal-body">
        <textarea class="template-modal-textarea" id="template-modal-textarea-{uid}"></textarea>
    </div>
</div>
<script>
    var templates{uid} = (function() {
        var data = {templates};        
        var getData = function() {
            return data;
        };
        var showTemplate = function(index) {
            $("#template-modal-textarea-{uid}").val(data[index].template.tplFileContent);
            $("#template-modal-textarea-{uid}-title").text(data[index].label);
            $("#template-modal-{uid}").modal({
                show: false
            });
        };
        return {
            getData: getData,
            showTemplate: showTemplate
        };
    })();
    $(document).ready(function() {
        var numOfTemplates = templates{uid}.getData().length;
        for(var i=0; i<numOfTemplates; i++) {
            var template = templates{uid}.getData()[i];
            $("#templates-{uid}").append(
                $('<a class="manage-templates-btn" href="javascript:templates{uid}.showTemplate(\'' + i + '\')">+ ' + template.label + '</a>'));
        }        
    });
</script>