<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{pageTitle}</title>
    <meta name="description" content="">
    <meta name="author" content="">
        
    {stylesheet}
    {javascript}
    
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand">{brand}</div>
                {mainNav}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>
                {title}
            </h1>
        </div>
        {data}
    </div>
</body>
</html>
