<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Fabrico Console</title>
    <meta name="description" content="">
    <meta name="author" content="">
        
    {stylesheet}
    {javascript}
    
    <script>
        $(document).ready(function() {
            fconsole.init("{host}");
        });
    </script>
    
</head>

<body>
    <div class="container">
        <h1>Fabrico Console</h1>
        <input type="text" class="span12" id="input-field" />
        <div class="output">
            
        </div>
    </div>
</body>
</html>
