<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Fabrico Console</title>
    <meta name="description" content="">
    <meta name="author" content="">
        
    {stylesheet}
    
    <style type="text/css">
        h1 {
            margin: 50px 0 30px 0;
            font-size: 30px;
            text-align: center;
        }
        .login-link {
            width: 150px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    </style>
    
</head>

<body>
    <div class="container">
        <h1>You must be logged in as administrator to use the Console.</h1>
        <a href="{host}/admin/login?r={host}/console" class="login-link btn btn-primary btn-large">Click here to login</a>
    </div>
</body>
</html>
